
body {
display: grid;
grid-template-areas:
"nav"
"main"
"footer";
grid-template-columns:100%;

}

.index .top img {
    position: relative;
    /* grid-area: top; */
    height: 18em;
    width: 20em;
    border-radius: 100%;
  /* grid-template-rows: auto; */
  margin-bottom: 4em;
  /* align-items: center;
  display: flex; */
  }

  .index .top {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  li {
    float: left; 
    border-right:3px;
  }

  body {
    background-color: pink;
    }

nav ul 
{
  display: flex;
    justify-content: space-around;
}


.home .top {
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pictures {
  width: 25%;
  margin:4%;

}

.blog {
  margin: 3%;
  width: 10vh;
  height: 20%;
}
.blog {
  margin: 10%;
  width: 60vh;
  height: 60%;
}
.blog {
  margin: 3%;
  width: 10vh;
  height: 20%;
}


