*{
    margin: 0; 
    padding:0;
}

body {
    background-color: pink;
}

header {
    background-color:black;
    grid-area: header;
}

nav {
    background-color: white;
    grid-area: nav;
}
.shownav {
  height: 0.8em;
  width:1.25em;
  display: block;
   border-top: 0.2em solid white;
  border-bottom: 0.2em solid white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white
  }
  
  li {
    /* float: left; */
    border-right:3px;
  }

  
  li a {
    /* display: block; */
    color:black;
    /* text-align: center; */
    /* padding: 20px 16px; */
    text-decoration: none;
  }
  
  li a:hover:active {
    background-color: white;
  }
  
  
li a:hover{
    background-color:#aa5d86;
}


main {
    background-color: pink;
    /* color: black; */
    grid-area: main;

}


  aside{
    background-color: white;
    color: black;
    grid-area: aside;
}

footer {
    height: 3em;
    grid-template-columns: repeat(4, auto);
    justify-items:center;
    align-items:center;
    padding: 3%;
}
